/* ---------- root variables ---------- */
:root {
  --green: #5BDE26;
  --green-alpha1: rgba(91, 222, 38, 0.65);
  --green-alpha2: rgba(91, 222, 38, 0.5);
  --white: #fff;
  --white-alpha1: rgba(255, 255, 255, 0.5);
}

/* ---------- general styling ---------- */
html {
  color: var(--white);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
  font-weight: 200;
}

body {
  background-image: url(../img/mobile-background.jpg);
  background-size: 100%;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin: 0.5em;
}

/* ---------- toolbar styling ---------- */
.toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 90;
}
.toolbar .black-cover {
  background-color: black;
}
.toolbar #menu-options {
  display: none;
  background-color: var(--green-alpha2);
  border: solid 4px var(--green);
  text-align: center;
  padding: 0 2em;
}
.toolbar #menu-options a {
  display: block;
  color: var(--white);
  text-decoration: none;
  font-size: 2em;
  padding: 0.5em 0;
  border-bottom: solid 2px var(--white-alpha1);
}
.toolbar #menu-options #last-a {
  border: none;
}
.toolbar #visible-toolbar {
  background-color: var(--green-alpha1);
  border: solid 4px var(--green);
  height: 60px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 5px;
}
.toolbar #search-icon {
  max-width: 40px;
  margin-right: 10px;
}
.toolbar #burger-icon {
  cursor: pointer;
  margin-left: 10px;
}
.toolbar #burger-icon img {
  max-width: 40px;
}
.toolbar input[type=search] {
  height: 40px;
  background-color: var(--white-alpha1);
  border: solid 3px var(--white);
  border-radius: 30px;
  padding: 10px;
  width: 100%;
  color: var(--white);
  font-size: 1.2em;
}
.toolbar input[type=search]::placeholder {
  color: var(--white);
  opacity: 1;
  font-style: italic;
}
.toolbar #search-results {
  display: none;
  background-color: var(--green-alpha2);
  border: solid 4px var(--green);
  padding: 0 1em;
  max-height: calc(100vh - 60px);
  overflow-y: scroll;
}
.toolbar .searched-game {
  display: flex;
  margin: 1em 0;
}
.searched-game img {
  max-width: 60px;
  margin-right: 0.5em;
  border-radius: 10px;
  align-self: center;
}
.searched-game h2 {
  font-weight: bold;
}
.searched-game .rating-number {
  display: flex;
}
.searched-game .rating-number p {
  align-self: flex-end;
}
.searched-game .star {
  max-width: 20px;
  margin: 0 5px;
  border-radius: 0;
}
.searched-game .home-categories {
  font-size: 0.8em;
  margin: 5px 0;
}

/* ---------- page styling ---------- */
.page {
  display: none;
  /*min height is screen height minus height of tab and top bar */
  min-height: calc(100vh - 60px);
  animation: fadeIn 0.4s;
  /* padding equals height of toolbar and topbar */
  padding: 0 0 60px;
}

/* ---------- home page styling ---------- */
#games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#games-container a {
  display: block;
  color: var(--white);
  text-decoration: none;
  width: 35%;
  margin: 1em;
}

.game-section img {
  width: 100%;
  border-radius: 20px;
}
.game-section h2 {
  font-weight: bold;
  margin: 0.5em 0;
}
.game-section .rating-number {
  display: flex;
  font-size: 1em;
}
.game-section .rating-number p {
  align-self: flex-end;
}
.game-section .star {
  max-width: 20px;
  margin: 0 5px;
  border-radius: 0;
}
.game-section .home-categories {
  font-size: 0.8em;
  margin: 5px 0;
}

/* ---------- game page styling ---------- */
#game-page {
  padding: 1em 1em 75px;
  line-height: normal;
}
#game-page .segment {
  margin-bottom: 3em;
}
#game-page #go-back-arrow {
  display: block;
  margin-bottom: 1em;
  width: 45px;
}
#game-page #go-back-arrow img {
  height: 50px;
}
#game-page #icon-info-flex {
  display: flex;
}
#game-page #icon {
  width: 30%;
  border-radius: 20px;
  margin-right: 1em;
  align-self: flex-start;
}
#game-page #main-info h2 {
  font-weight: bold;
  font-size: 1.4em;
}
#game-page #main-info #developer {
  margin: 0.5em 0;
}
#game-page #popularity-info {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: flex-end;
}
#game-page #popularity-info #rating-number {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 5px;
}
#game-page #popularity-info #rating-number p {
  font-size: 2em;
  margin-right: 10px;
}
#game-page #popularity-info #rating-number #top-star {
  max-width: 40px;
}
#game-page #popularity-info #played-count {
  font-size: 2em;
}
#game-page h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
#game-page #description-text {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
#game-page #description-text p {
  font-size: 0.9em;
}
#game-page #category-buttons {
  display: flex;
  overflow-x: scroll;
}
#game-page #category-buttons button {
  background-color: unset;
  color: var(--white);
  border: solid 2px var(--white);
  padding: 0.3em 1.5em;
  font-size: 0.9em;
  border-radius: 50px;
  margin-right: 0.5em;
  cursor: pointer;
  flex-shrink: 0;
}
#game-page #play-favorite {
  display: flex;
  justify-content: center;
}
#game-page #play-favorite button {
  height: 55px;
  background-color: var(--green-alpha1);
  border: solid 3px var(--green);
  border-radius: 10px;
  box-shadow: 3px 3px 4px var(--green);
  cursor: pointer;
}
#game-page #play-favorite #play-button {
  color: var(--white);
  font-size: 2em;
  font-weight: bold;
  padding: 0 2em;
  margin-right: 1em;
}
#game-page #play-favorite #favorite-button img{
  max-width: 40px;
}
#game-page #preview-container {
  display: flex;
  overflow-x: scroll;
  height: 160px;
  align-items: flex-start;
}
#game-page #preview-container img {
  margin-right: 1em;
  height: 100%;
}
#game-page #feedback-button {
  display: block;
  text-decoration: none;
  color: var(--white);
  border: solid 2px var(--white);
  border-radius: 50px;
  font-size: 1.2em;
  padding: 0.5em 1.5em;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  text-align: center;
}
#game-page .feedback {
  margin-bottom: 1em;
  margin-top: 2em;
}
#game-page .feedback .feedback-user-name {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
#game-page .feedback .feedback-posted-date {
  margin-bottom: 0.5em;
}

/* ---------- Feedback form styling ---------- */
#feedback-form {
  padding: 1em 1em 75px;
  line-height: normal;
}
#feedback-form #feed-go-back-arrow {
  display: block;
  margin-bottom: 1em;
  width: 45px;
}
#feedback-form #feed-go-back-arrow img {
  height: 50px;
}
#feedback-form h2 {
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 1em;
}
#feedback-form label {
  font-size: 1.2em;
}
#feedback-form input {
  margin-bottom: 1.5em;
  background-color: var(--white-alpha1);
  border: solid 3px var(--white);
  width: 100%;
  box-sizing: border-box;
  color: var(--white);
  padding: 0.5em;
  font-size: 1em;
  border-radius: 30px;
}
#feedback-form input::placeholder, 
#feedback-form #feedback-text::placeholder {
  font-style: italic;
}
#feedback-form #feedback-text {
  margin-bottom: 1.5em;
  background-color: var(--white-alpha1);
  border: solid 3px var(--white);
  width: 100%;
  box-sizing: border-box;
  color: var(--white);
  padding: 0.5em;
  font-size: 1em;
  font-family: inherit;
}
#feedback-form button {
  height: 40px;
  background-color: var(--green-alpha1);
  border: solid 3px var(--green);
  border-radius: 10px;
  box-shadow: 3px 3px 4px var(--green);
  cursor: pointer;
  color: var(--white);
  font-size: 1.5em;
  padding: 0 1.5em;
  margin: 0 auto;
  display: block;
}
#feedback-form #form-prototype-disclaimer {
  margin-top: 1.5em;
  font-style: italic
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------- loader styling ---------- */
#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow: hidden;
  text-align: center;
}

.spinner {
  border: 5px solid var(--green-alpha2);
  border-radius: 50%;
  border-top: 5px solid var(--green);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}